@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewBag.Title = "Proveedor - Editar";
}
@section Styles {
    <link href="~/views/proveedor/editar.css" rel="stylesheet" />
}
<form id="EditarFrm">
    <button id="GuardarBtn" type="button">Guardar</button>

    <br />
    <br />
    <label for="CodigoTxt">Código</label>
    <input id="CodigoTxt" type="text" value="@ViewBag.ProveedorId" readonly="readonly" />

    <br />
    <label for="NombreTxt">Nombre</label>
    <input id="NombreTxt" type="text" value="@ViewBag.Nombre" />

    <br />
    <label for="RucTxt">RUC</label>
    <input id="RucTxt" type="text" value="@ViewBag.Ruc" />

    <br />
    <label for="ContactoTxt">Contacto ID</label>
    <input id="ContactoTxt" type="number" value="@ViewBag.ContactoId" />

    <br />
    <label for="DireccionTxt">Dirección</label>
    <input id="DireccionTxt" type="text" value="@ViewBag.Direccion" />

    <br />
    <label for="CiudadTxt">Ciudad</label>
    <input id="CiudadTxt" type="text" value="@ViewBag.Ciudad" />

    <br />
    <label for="RegionTxt">Región</label>
    <input id="RegionTxt" type="text" value="@ViewBag.Region" />

    <br />
    <label for="CodPostalTxt">Código Postal</label>
    <input id="CodPostalTxt" type="text" value="@ViewBag.CodPostal" />

    <br />
    <label for="PaisTxt">País</label>
    <input id="PaisTxt" type="text" value="@ViewBag.Pais" />

    <br />
    <label for="TelefonoTxt">Teléfono</label>
    <input id="TelefonoTxt" type="text" value="@ViewBag.Telefono" />

    <br />
    <label for="FaxTxt">Fax</label>
    <input id="FaxTxt" type="text" value="@ViewBag.Fax" />

    <br />
    <label for="PaginaPrincipalTxt">Página Principal</label>
    <input id="PaginaPrincipalTxt" type="text" value="@ViewBag.PaginaPrincipal" />

</form>
@section Scripts {
    <script src="~/views/proveedor/editar.js"></script>
}

